@import 'tailwindcss';
@import '@fontsource/playfair-display/900.css';

@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
  
@layer utilities {
  
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}
.bg-dot-pattern {
    background-image: radial-gradient(rgba(255, 255, 255, 0.07) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  
  .bg-gradient-dark {
    background: linear-gradient(to bottom right, hsl(224, 71%, 4%), hsl(222, 47%, 10%));
  }
  
  .bg-grid-pattern {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  
  /*cards*/
  .card-highlight {
    position: relative;
    overflow: hidden;
  }
  
  .card-highlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.07), transparent);
    transition: all 0.6s ease;
    z-index: 1;
  }
  
  .card-highlight:hover::before {
    left: 100%;
  }
  
  .card-highlight > * {
    position: relative;
    z-index: 2;
  }